@{
    ViewData["Title"] = "Home Page";
}
<!--Constract-Listing-Template-->
@Html.Partial("_ContractsListingTemplate")
@Html.Partial("_AddContractModalTemplate")
@Html.Partial("_UploadScannedModalTemplate")
@Html.Partial("_PrintDocumentModalTemplate")

<div id="app" class="text-center">
    &nbsp;

    <!--pops up modal-->
    <printdocument-modal v-if="ShowDocumentModal"
                         v-on:close="ShowDocumentModal = false"
                         v-bind:docnames="DocumentNames"
                         v-bind:contractid="ShowDocumentForId">
    </printdocument-modal>
    <newcontract-modal v-if="ShowAddContractModal" 
                       v-on:close="ShowAddContractModal = false">
    </newcontract-modal>
    <upload-modal v-if="ShowUploadModal" 
                  v-on:close="OnCloseUploadModal" 
                  v-bind:contractid="UploadToContractId">
    </upload-modal>
    <!--search bar-->
    @Html.Partial("_SearchBar")
    &nbsp;
    <!--INFO: what if router change to other component? what will happen to all these bindings?
    new nested Vue instance for earch component?-->
    <router-view class="view"
                 v-bind:contracts="ContractModels"
                 v-bind:currentpage="OnPage"
                 v-bind:totalpages="TotalPages"
                 v-bind:totalrows="TotalRows"
                 v-on:changepageclicked="PageNavClicked"
                 v-on:uploadcontractclicked="ShowUploadModalHandler"
                 v-on:openscannedpdfclicked="OpenNewScanPage"
                 v-on:printdocumentclicked="PrinDocumentModalHandler">
    </router-view>
    <!--even though we dont pass any variables to handler but the method does receive the value got pass to this.emit
        from the component wtf?-->
</div>

<environment include="Development">
    <!--vue related-->
    <script src="~/lib/vue/dist/vue.js"></script>
    <script src="~/lib/axios/dist/axios.js"></script>
    <script src="~/lib/vee-validate/dist/vee-validate.js"></script>
    <script src="~/lib/vue-router/dist/vue-router.js"></script>
    <script src="~/lib/vue-clip/dist/vue-clip.js"></script>
    @*<script src="~/lib/vue-dropzone/dist/vue2-dropzone.js"></script>  already min*@
    <script src="~/js/site.js"></script>
</environment>
<!--prod-->
<environment exclude="Development">
    <!--vue related-->
    <script src="~/lib/vue/dist/vue.min.js"></script>
    <script src="~/lib/axios/dist/axios.min.js"></script>
    <script src="~/lib/vee-validate/dist/vee-validate.js"></script>
    <script src="~/lib/vue-router/dist/vue-router.min.js"></script>
    <script src="~/lib/vue-clip/dist/vue-clip.min.js"></script>
    <script src="~/js/site.min.js"></script>
</environment>